body, html{
    height: 100%;
    width: 100%;
}

.btn-warning{
    --bs-btn-hover-color: #fff;
    --bs-btn-color: #fff;
    --bs-btn-hover-bg: #FE8C00;
    --bs-btn-hover-border-color: #FE8C00;
}

.col-md-6{
    width: 50% !important;
}

.input-group{
    max-height: 12px;
}

.form-header {
    text-align: center;
}

.titulo{
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 7px;
    padding: 5px 15px;
    display: inline-block;
    border: 1px solid #dad8e4;
    border-radius: 2px;
}
